NODE_ENV=development
PORT=5004
MONGO_URI=mongodb://localhost:27017/AdminServiceDB

# Security
JWT_SECRET=IAmSonOfGurvinderSinghWithNameHarnimarPreetSinghAge19AndSexMaleWantingAFemale

# Inter-Service Communication URLs
AUTH_URL=http://localhost:5001
NGO_URL=https://ngoservice.vercel.app
DONOR_URL=https://donorservice.vercel.app
VICTIM_URL=https://victim-service-latest.onrender.com
